#menu .pure-menu-heading {
    font-size: 100%;
    padding: .5em .5em;
}
.header h2 {
    font-size: 1em;
}
.panel  {
    display: none;
}
.content {
    margin: 0px;
}
.page {
    margin-top: 40px;
}
.pure-button {
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.main-buttons {
    margin: 50px auto;
    text-align: center;
}
.main-buttons button {
    width: 100px;
    margin: 5px auto;
}
.button-update {
    background: #1f8dd6;
}
.button-reset {
    background: rgb(202, 60, 60);
}
.button-reconnect {
    background: rgb(202, 60, 60);
}
.button-apikey {
    background: rgb(0, 202, 0);
    margin-left: 5px;
}
.pure-g {
    margin-bottom: 20px;
}
legend {
    font-weight: bold;
}
.l-box {
    padding-right: 1px;
}
.pure-form input[type=text][disabled] {
    color: #777777;
}
div.hint {
    font-size: 80%;
    color: #ccc;
}

.module {
    display: none;
}
